@model List<TowerInnCafeCatering.Models.TakeOutTray>
@{
    ViewData["Title"] = "TakeOutTray";
}
<h1>Take-out Trays</h1>
<p>Stuff to come</p>
<hr class="divider">

@foreach (var p in Model) {
<div class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">@p.Name: Half Tray $@p.PriceHalf.ToString("N2"), Full Tray$@p.PriceFull.ToString("N2")</h3>
	</div>
	<div class="panel-body">
    	<div class="media">
		<a class="pull-left">
			<img class="media-object" src="@Url.Content(p.Image)" height="120">
		</a>
		<div class="media-body">
			<p>@p.Description</p>
		</div>
	</div>
	</div>
</div>
}